body, html {
    margin: 0px;
    height: 100%;
    user-select: none;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    font-family: 'Source Sans Pro';
}
.container {
    width: 90%;
    margin: auto;
    padding: 0px 10px 10px 10px;
    overflow: hidden;
}
header {
    background: #2D5473;
    color: #fff;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #5BA7D1 3px solid;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
header a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s ease;
}
header a:hover {
    color: #5BA7D1;
}
header ul {
    padding: 0;
    list-style: none;
}
header li {
    display: inline;
    padding: 0 20px 0 20px;
}
header .select a {
    color: #5BA7D1;
}
.main-header h1 {
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
}
.info {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
}
.info p {
    margin: 5px 0;
}
.section {
    position: relative;
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.section h2 {
    text-align: center;
    text-transform: uppercase;
    margin: 0;
    padding-bottom: 10px;
    border-bottom: 2px solid #2D5473;
}
.section h3, .section a {
    color: #2D5473;
    text-decoration: none;
    transition: color 0.3s ease;
}
.section a:hover {
    color: #5BA7D1;
}
.section p, .section ul {
    line-height: 1.6;
    margin-left: 20px;
}
.section ul {
    list-style: none;
    padding: 0;
}
.section ul li {
    background: #f4f4f4;
    margin: 0px 0;
    padding: 10px;
    border-left: 5px solid #2D5473;
    transition: background-color 0.3s ease;
}
.section ul li:hover {
    background-color: #e0e0e0;
}
footer {
    text-align: center;
    padding: 20px;
    background: #333;
    color: #fff;
    margin-top: 20px;
}
.sidebar {
    float: right;
    width: 30%;
    margin-top: 20px;
    background: #2D5473;
    color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.sidebar h3 {
    margin-top: 0;
}
.sidebar ul {
    list-style: none;
    padding: 0;
}
.sidebar ul li {
    background: #5BA7D1;
    margin: 10px 0;
    padding: 10px;
    transition: transform 0.3s ease;
}
.sidebar ul li:hover {
    transform: translateX(5px);
}
.sidebar-icon {
    display: none;
    position: absolute;
    color: #fff;
    top: 10px;
    left: 10px;
    font-size: 24px;
    cursor: pointer;
}
sidebar-overlay {
    display: none;
}
.content {
    float: left;
    width: 65%;
    margin-top: 20px;
}
.clear {
    clear: both;
}
.skills {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.skills-column {
    width: 48%;
}
.project {
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}
.project:hover .overlay {
    opacity: 1;
    pointer-events: auto;
}
.toggle-icon {
    position: absolute;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.toggle-icon.rotate {
    transform: rotate(-180deg);
}
.project-details {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}
.project-details.show {
    max-height: 250px;
}
.menu-icon {
    position: absolute;
    color: #2D5473;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
.menu {
    max-height: 0;
    overflow: hidden;
    position: absolute;
    top: 40px;
    right: 10px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1;
    transition: max-height 0.3s ease;
}
.menu.show {
    max-height: 300px;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
.menu ul li:hover {
    background: #f4f4f4;
}
@media(max-width: 1000px) {
    .content {
        width: 100%;
    }
    .project-details.show {
        max-height: 500px;
    }
    .sidebar {
        position: fixed;
        left: -80%;
        top: 0;
        bottom: 0;
        width: 70%;
        margin-top: 0px;
        background: #2D5473;
        color: #fff;
        padding: 20px;
        overflow-y: auto; 
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        z-index: 3;
        transition: left 0.3s ease;
    }
    .sidebar.open {
        left: 0;
    }
    .sidebar ul li {
        margin: 10px 0;
    }
    .sidebar-overlay {
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        background-color: rgba(0, 0, 0, 0.0);
        transition: background-color 0.3s ease;
        z-index: 2;
    }
    .sidebar-icon {
        display: block;
    }
}